_pugfiles/index.pug
doctype html
html(lang='en')
  head
    include include/head.pug
  body
    .container
        .row
            .col-xs-9
                .products
                    mixin list
                        .col-xs-4
                            .products__item
                                .products__item-code Арт. 34534345
                                .products__item-image
                                    img.products__item-image-img(src='/img/image-zone/image-zone.jpg')(srcset='/img/image-zone/image-zone@2x.jpg 2x, /img/image-zone/image-zone@3x.jpg 3x')
                                .products__item-availability В наличии
                                .products__item-title Canon PowerShot SX400 IS с улучшенной матрицей и объективом
                                .products__item-details
                                    ul.products__item-details 
                                        li 
                                            .products__item-details-key Физический размер
                                            .products__item-details-value 23.2 x 15.2 мм
                                        li 
                                            .products__item-details-key Диафрагма
                                            .products__item-details-value CMOS
                                        li 
                                            .products__item-details-key Формат записи
                                            .products__item-details-value RAW, JPEG, MP4 и другие
                                        li 
                                            .products__item-details-key Фокусное расстояние
                                            .products__item-details-value 18-55 мм.
                                    .to-bottom
                                        a(href='#').products__item-button_buy 
                                            i.icon-cart
                                            | Купить
                                        a(href='#').products__item-button_compare 
                                            i.icon-compare
                                        a(href='#').products__item-button_like 
                                            i.icon-like
                    +list
                    +list
                    +list
                    +list
                    +list
                    +list
            .col-xs-3
                .products__filter
                    a(href='#').products__filter-button_result Показать результат
                    a(href='#').products__filter-button_clear Очистить фильтр
                    .products__filter-item-title Производитель
                    mixin list(id, ...items)
                        ul(class=id)
                            each item in items
                                li.products__filter-item-param
                                    label
                                        input.products__filter-checkbox(type='checkbox')
                                        span.products__filter-checkbox-custom
                                        label= item
                    +list('autocolumn', 'Canon', 'Fujifilm', 'Nikon', 'Panasonic', 'Leica', 'Olympus', 'Pentax', 'Sigma', 'Geleral Electrics', 'Zenit')

    include include/footer.pug

site/index.html
<!DOCTYPE html><html lang="en"><head><eta charset="UTF-8"></eta><meta http-equiv="X-UA-Compatible" content="IE-edge"><title>Canon PowerShot SX400 IS с улучшеной матрицей и объективом</title><script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script><link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-grid.min.css"><link rel="stylesheet" href="/css/all.min.css"><script src="/js/all.min.js"></script></head><body><div class="container"><div class="row"><div class="col-xs-9"><div class="products"><div class="col-xs-4"><div class="products__item"><div class="products__item-code">Арт. 34534345</div><div class="products__item-image"><img class="products__item-image-img" src="/img/image-zone/image-zone.jpg" srcset="/img/image-zone/image-zone@2x.jpg 2x, /img/image-zone/image-zone@3x.jpg 3x"></div><div class="products__item-availability">В наличии</div><div class="products__item-title">Canon PowerShot SX400 IS с улучшенной матрицей и объективом</div><div class="products__item-details"><ul class="products__item-details"> <li> <div class="products__item-details-key">Физический размер</div><div class="products__item-details-value">23.2 x 15.2 мм</div></li><li> <div class="products__item-details-key">Диафрагма</div><div class="products__item-details-value">CMOS</div></li><li> <div class="products__item-details-key">Формат записи</div><div class="products__item-details-value">RAW, JPEG, MP4 и другие</div></li><li> <div class="products__item-details-key">Фокусное расстояние</div><div class="products__item-details-value">18-55 мм.</div></li></ul><div class="to-bottom"><a class="products__item-button_buy" href="#"> <i class="icon-cart"></i>Купить</a><a class="products__item-button_compare" href="#"> <i class="icon-compare"></i></a><a class="products__item-button_like" href="#"> <i class="icon-like"></i></a></div></div></div></div><div class="col-xs-4"><div class="products__item"><div class="products__item-code">Арт. 34534345</div><div class="products__item-image"><img class="products__item-image-img" src="/img/image-zone/image-zone.jpg" srcset="/img/image-zone/image-zone@2x.jpg 2x, /img/image-zone/image-zone@3x.jpg 3x"></div><div class="products__item-availability">В наличии</div><div class="products__item-title">Canon PowerShot SX400 IS с улучшенной матрицей и объективом</div><div class="products__item-details"><ul class="products__item-details"> <li> <div class="products__item-details-key">Физический размер</div><div class="products__item-details-value">23.2 x 15.2 мм</div></li><li> <div class="products__item-details-key">Диафрагма</div><div class="products__item-details-value">CMOS</div></li><li> <div class="products__item-details-key">Формат записи</div><div class="products__item-details-value">RAW, JPEG, MP4 и другие</div></li><li> <div class="products__item-details-key">Фокусное расстояние</div><div class="products__item-details-value">18-55 мм.</div></li></ul><div class="to-bottom"><a class="products__item-button_buy" href="#"> <i class="icon-cart"></i>Купить</a><a class="products__item-button_compare" href="#"> <i class="icon-compare"></i></a><a class="products__item-button_like" href="#"> <i class="icon-like"></i></a></div></div></div></div><div class="col-xs-4"><div class="products__item"><div class="products__item-code">Арт. 34534345</div><div class="products__item-image"><img class="products__item-image-img" src="/img/image-zone/image-zone.jpg" srcset="/img/image-zone/image-zone@2x.jpg 2x, /img/image-zone/image-zone@3x.jpg 3x"></div><div class="products__item-availability">В наличии</div><div class="products__item-title">Canon PowerShot SX400 IS с улучшенной матрицей и объективом</div><div class="products__item-details"><ul class="products__item-details"> <li> <div class="products__item-details-key">Физический размер</div><div class="products__item-details-value">23.2 x 15.2 мм</div></li><li> <div class="products__item-details-key">Диафрагма</div><div class="products__item-details-value">CMOS</div></li><li> <div class="products__item-details-key">Формат записи</div><div class="products__item-details-value">RAW, JPEG, MP4 и другие</div></li><li> <div class="products__item-details-key">Фокусное расстояние</div><div class="products__item-details-value">18-55 мм.</div></li></ul><div class="to-bottom"><a class="products__item-button_buy" href="#"> <i class="icon-cart"></i>Купить</a><a class="products__item-button_compare" href="#"> <i class="icon-compare"></i></a><a class="products__item-button_like" href="#"> <i class="icon-like"></i></a></div></div></div></div><div class="col-xs-4"><div class="products__item"><div class="products__item-code">Арт. 34534345</div><div class="products__item-image"><img class="products__item-image-img" src="/img/image-zone/image-zone.jpg" srcset="/img/image-zone/image-zone@2x.jpg 2x, /img/image-zone/image-zone@3x.jpg 3x"></div><div class="products__item-availability">В наличии</div><div class="products__item-title">Canon PowerShot SX400 IS с улучшенной матрицей и объективом</div><div class="products__item-details"><ul class="products__item-details"> <li> <div class="products__item-details-key">Физический размер</div><div class="products__item-details-value">23.2 x 15.2 мм</div></li><li> <div class="products__item-details-key">Диафрагма</div><div class="products__item-details-value">CMOS</div></li><li> <div class="products__item-details-key">Формат записи</div><div class="products__item-details-value">RAW, JPEG, MP4 и другие</div></li><li> <div class="products__item-details-key">Фокусное расстояние</div><div class="products__item-details-value">18-55 мм.</div></li></ul><div class="to-bottom"><a class="products__item-button_buy" href="#"> <i class="icon-cart"></i>Купить</a><a class="products__item-button_compare" href="#"> <i class="icon-compare"></i></a><a class="products__item-button_like" href="#"> <i class="icon-like"></i></a></div></div></div></div><div class="col-xs-4"><div class="products__item"><div class="products__item-code">Арт. 34534345</div><div class="products__item-image"><img class="products__item-image-img" src="/img/image-zone/image-zone.jpg" srcset="/img/image-zone/image-zone@2x.jpg 2x, /img/image-zone/image-zone@3x.jpg 3x"></div><div class="products__item-availability">В наличии</div><div class="products__item-title">Canon PowerShot SX400 IS с улучшенной матрицей и объективом</div><div class="products__item-details"><ul class="products__item-details"> <li> <div class="products__item-details-key">Физический размер</div><div class="products__item-details-value">23.2 x 15.2 мм</div></li><li> <div class="products__item-details-key">Диафрагма</div><div class="products__item-details-value">CMOS</div></li><li> <div class="products__item-details-key">Формат записи</div><div class="products__item-details-value">RAW, JPEG, MP4 и другие</div></li><li> <div class="products__item-details-key">Фокусное расстояние</div><div class="products__item-details-value">18-55 мм.</div></li></ul><div class="to-bottom"><a class="products__item-button_buy" href="#"> <i class="icon-cart"></i>Купить</a><a class="products__item-button_compare" href="#"> <i class="icon-compare"></i></a><a class="products__item-button_like" href="#"> <i class="icon-like"></i></a></div></div></div></div><div class="col-xs-4"><div class="products__item"><div class="products__item-code">Арт. 34534345</div><div class="products__item-image"><img class="products__item-image-img" src="/img/image-zone/image-zone.jpg" srcset="/img/image-zone/image-zone@2x.jpg 2x, /img/image-zone/image-zone@3x.jpg 3x"></div><div class="products__item-availability">В наличии</div><div class="products__item-title">Canon PowerShot SX400 IS с улучшенной матрицей и объективом</div><div class="products__item-details"><ul class="products__item-details"> <li> <div class="products__item-details-key">Физический размер</div><div class="products__item-details-value">23.2 x 15.2 мм</div></li><li> <div class="products__item-details-key">Диафрагма</div><div class="products__item-details-value">CMOS</div></li><li> <div class="products__item-details-key">Формат записи</div><div class="products__item-details-value">RAW, JPEG, MP4 и другие</div></li><li> <div class="products__item-details-key">Фокусное расстояние</div><div class="products__item-details-value">18-55 мм.</div></li></ul><div class="to-bottom"><a class="products__item-button_buy" href="#"> <i class="icon-cart"></i>Купить</a><a class="products__item-button_compare" href="#"> <i class="icon-compare"></i></a><a class="products__item-button_like" href="#"> <i class="icon-like"></i></a></div></div></div></div></div></div><div class="col-xs-3"><div class="products__filter"><a class="products__filter-button_result" href="#">Показать результат</a><a class="products__filter-button_clear" href="#">Очистить фильтр</a><div class="products__filter-item-title">Производитель</div><ul class="autocolumn"><li class="products__filter-item-param"><label><input class="products__filter-checkbox" type="checkbox"><span class="products__filter-checkbox-custom"></span><label>Canon</label></label></li><li class="products__filter-item-param"><label><input class="products__filter-checkbox" type="checkbox"><span class="products__filter-checkbox-custom"></span><label>Fujifilm</label></label></li><li class="products__filter-item-param"><label><input class="products__filter-checkbox" type="checkbox"><span class="products__filter-checkbox-custom"></span><label>Nikon</label></label></li><li class="products__filter-item-param"><label><input class="products__filter-checkbox" type="checkbox"><span class="products__filter-checkbox-custom"></span><label>Panasonic</label></label></li><li class="products__filter-item-param"><label><input class="products__filter-checkbox" type="checkbox"><span class="products__filter-checkbox-custom"></span><label>Leica</label></label></li><li class="products__filter-item-param"><label><input class="products__filter-checkbox" type="checkbox"><span class="products__filter-checkbox-custom"></span><label>Olympus</label></label></li><li class="products__filter-item-param"><label><input class="products__filter-checkbox" type="checkbox"><span class="products__filter-checkbox-custom"></span><label>Pentax</label></label></li><li class="products__filter-item-param"><label><input class="products__filter-checkbox" type="checkbox"><span class="products__filter-checkbox-custom"></span><label>Sigma</label></label></li><li class="products__filter-item-param"><label><input class="products__filter-checkbox" type="checkbox"><span class="products__filter-checkbox-custom"></span><label>Geleral Electrics</label></label></li><li class="products__filter-item-param"><label><input class="products__filter-checkbox" type="checkbox"><span class="products__filter-checkbox-custom"></span><label>Zenit</label></label></li></ul></div></div></div></div></body></html>
